<% width = width || 600 %>
<tr>
  <td style="padding: 0 20px 20px 20px; font-family: 'Montserrat', sans-serif; font-size: 15px; line-height: 20px; color: #555555; text-align: center;">
    <img src="<%= current_page.url + image %>" height="" alt="<%= alt %>" border="0" style="width: 80%;  max-width: <%= width %>px; height: auto; background: white; font-family: 'Montserrat', sans-serif; font-size: 15px; line-height: 15px; color: #555555; margin: 0 auto;" class="g-img">
  </td>
</tr>

