<tr>
  <td style="padding: 20px; font-family: 'Montserrat', sans-serif; font-size: 15px; line-height: 20px; color: #555555;">
    <h1 style="margin: 0; font-size: 25px; line-height: 30px; color: #333333; font-weight: bold;"><%= yield %></h1>
  </td>
</tr>

