<tr>
  <td style="background-color: #ffffff; padding: 20px;">
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
        <%= yield %>
    </table>
  </td>
</tr>

<tr><td style="font-size: 8px;">&nbsp;</td></tr>
