<tr>
  <td style="background-color: #ffffff;">
    <a href="<%= link %>">
      <img src="<%= current_page.url + image %>" width="600" height="" alt="Picture of Think About! attendees sitting in the outsude area" border="0" style="width: 100%; max-width: 600px; height: auto; background: #dddddd; font-family: 'Montserrat', sans-serif; font-size: 15px; line-height: 15px; color: #555555; margin: auto;" class="g-img">
    </a>
  </td>
</tr>

