<tr>
  <td style="background-color: #ffffff; padding: 20px;">
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <td style="padding: 20px; font-family: 'Montserrat', sans-serif; font-size: 15px; line-height: 20px; color: #555555;">
          <%= yield %>
        </td>
      </tr>
    </table>
  </td>
</tr>

<tr><td style="font-size: 8px;">&nbsp;</td></tr>
