---
title: "Newsletter #11 Awesome"
date: "September 2019"
---

<% partial 'text_box' do %>
  <% partial 'title' do %>
    The Think About! 2019 is over and we have good news: There will be a 2020 edition.
  <% end %>

  <p>The Think About! 2019 happened more than one month ago and we are still overwhelmed by all the positive feedback we continue to receive. The talks were amazing, the sunny weather did it's bit and the food was delicious. But the most important part were our attendees, helpers and speakers who made this event so special in the first place.</p>
<% end %>

<% partial 'text_box' do %>
  <% partial 'title' do %>
    The Think About! 2019 talk recordings are online
  <% end %>

  <p>We have finally uploaded all 24 talk recordings of the Think About! 2019. You can either download the videos directly from our website or go to Vimeo to watch them in your browser. Feel free to share the recordings of the talks with others - they are completely free.</p>

  <%= partial 'text_box_button', locals: { text: 'Watch the recordings', link: 'https://think-about.io/events/2019.html#recordings' } %>
<% end %>


            <!-- Page : BEGIN -->
            <tr>
                <td style="background-color: #ffffff;">
                    <a href="https://think-about.io/events/2019.html">
                        <img src="/newsletter/2019/11/pictures.png" width="600" height="" alt="Picture of Think About! attendees sitting in the outsude area" border="0" style="width: 100%; max-width: 600px; height: auto; background: #dddddd; font-family: 'Montserrat', sans-serif; font-size: 15px; line-height: 15px; color: #555555; margin: auto;" class="g-img">
                    </a>
                </td>
            </tr>
            <!-- Hero Image, Flush : END -->

            <tr>
                <td style="background-color: #ffffff; padding: 20px;">
                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                        <tr>
                            <td style="padding: 20px; font-family: 'Montserrat', sans-serif; font-size: 15px; line-height: 20px; color: #555555;">
                                <h1 style="margin: 0 0 30px; font-size: 25px; line-height: 30px; color: #333333; font-weight: bold;">A new Think About 2019! event page</h1>

                                <p>We are excited to announce that we have a subpage for the Think About! 2019. It is filled with pictures, recordings, media coverage and other related content that might give you a perspective on how the event took place.</p>
                            </td>
                      <tr>
                            <td>
                                <!-- Button : BEGIN -->
                                <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" style="margin: auto;">
                                    <tr>
                                        <td class="button-td button-td-primary" style="border-radius: 4px; background: #222222;">
                                            <a class="button-a button-a-primary" href="https://think-about.io/events/2019.html" style="background: #6b3cff; font-family: 'Montserrat', sans-serif; font-size: 15px; line-height: 15px; text-decoration: none; padding: 13px 17px; color: #ffffff; display: block; border-radius: 4px;">Check out the page</a>
                                        </td>
                                    </tr>
                                </table>
                                <!-- Button : END -->
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!-- Page : END -->

            <!-- Separation between sections -->
            <tr><td style="font-size: 8px;">&nbsp;</td></tr>

            <!-- Cryptoparty : BEGIN -->
            <tr>
                <td style="background-color: #ffffff;">
                    <a href="https://www.meetup.com/Think-About-about-Tech-Design-and-their-impact-on-Society/events/262411839/">
                        <img src="/newsletter/2019/11/cryptoparty.png" width="600" height="" alt="Picture of a cryptoparty poster" border="0" style="width: 100%; max-width: 600px; height: auto; background: #dddddd; font-family: 'Montserrat', sans-serif; font-size: 15px; line-height: 15px; color: #555555; margin: auto;" class="g-img">
                    </a>
                </td>
            </tr>
            <!-- Hero Image, Flush : END -->

            <tr>
                <td style="background-color: #ffffff; padding: 20px;">
                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                        <tr>
                            <td style="padding: 20px; font-family: 'Montserrat', sans-serif; font-size: 15px; line-height: 20px; color: #555555;">
                                <h1 style="margin: 0 0 30px; font-size: 25px; line-height: 30px; color: #333333; font-weight: bold;">Digital self-defence for everyone - join the next cryptoparty on July 18th</h1>

                                <p>Regardless whether you don't want secret services to read your private communication or you want to prevent your bank account to be stolen - IT security affects everyone, amateurs and professionals. There is no such thing as perfect security, but there are programs making your digital life far more secure. Many people are not willing to read lengthy specialist articles. They want to know how to make their own devices more secure in a simple manner. That's what Cryptoparties are for.</p>

                                <p>Cryptoparties are nonpartisan and non-commercial. The Cologne-Bonn chapter is supported by, besides others, the <a href="https://koeln.ccc.de/" style="color: #eb18ff; text-decoration: underline;">Chaos Computer Club Cologne</a>.</p>

                            </td>
                      <tr>
                            <td>
                                <!-- Button : BEGIN -->
                                <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" style="margin: auto;">
                                    <tr>
                                        <td class="button-td button-td-primary" style="border-radius: 4px; background: #222222;">
                                            <a class="button-a button-a-primary" href="https://www.meetup.com/Think-About-about-Tech-Design-and-their-impact-on-Society/events/262411839/" style="background: #6b3cff; font-family: 'Montserrat', sans-serif; font-size: 15px; line-height: 15px; text-decoration: none; padding: 13px 17px; color: #ffffff; display: block; border-radius: 4px;">Join the cryptoparty</a>
                                        </td>
                                    </tr>
                                </table>
                                <!-- Button : END -->
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!-- Meetup : END -->

            <!-- Separation between sections -->
            <tr><td style="font-size: 8px;">&nbsp;</td></tr>

             <!-- Meetup : BEGIN -->
            <tr>
                <td style="background-color: #ffffff;">
                    <a href="https://www.meetup.com/Think-About-about-Tech-Design-and-their-impact-on-Society/events/262967473/">
                        <img src="/newsletter/2019/11/meetup-introvert.png" width="600" height="" alt="Picture of Think About! summary card for introvert meetup" border="0" style="width: 100%; max-width: 600px; height: auto; background: #dddddd; font-family: 'Montserrat', sans-serif; font-size: 15px; line-height: 15px; color: #555555; margin: auto;" class="g-img">
                    </a>
                </td>
            </tr>
            <!-- Hero Image, Flush : END -->

            <tr>
                <td style="background-color: #ffffff; padding: 20px;">
                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                        <tr>
                            <td style="padding: 20px; font-family: 'Montserrat', sans-serif; font-size: 15px; line-height: 20px; color: #555555;">
                                <h1 style="margin: 0 0 30px; font-size: 25px; line-height: 30px; color: #333333; font-weight: bold;">Join our meetup: "Succeeding as an Introvert" on July 25th</h1>

                                <p>We are super excited to have won over <a href="https://twitter.com/ezagroba" style="color: #eb18ff; text-decoration: underline;">Elizabeth Zagroba</a> who will give a talk at our Think About! meetup which is hosted by <a href="https://www.dunckelfeld.de/en/" style="color: #eb18ff; text-decoration: underline;">Dunckelfeld</a>.</p>

                                <p>Elizabeth tests software at Mendix in Rotterdam, The Netherlands. She was the keynote speaker at Let’s Test in South Africa in 2018, and she’s spoken at Agile Testing Days’ and other conferences in North America and Europe. Her article about mind maps became one of the most viewed on Ministry of Testing Dojo in 2017.</p>
                            </td>
                      <tr>
                            <td>
                                <!-- Button : BEGIN -->
                                <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" style="margin: auto;">
                                    <tr>
                                        <td class="button-td button-td-primary" style="border-radius: 4px; background: #222222;">
                                            <a class="button-a button-a-primary" href="https://www.meetup.com/Think-About-about-Tech-Design-and-their-impact-on-Society/events/262967473/" style="background: #6b3cff; font-family: 'Montserrat', sans-serif; font-size: 15px; line-height: 15px; text-decoration: none; padding: 13px 17px; color: #ffffff; display: block; border-radius: 4px;">Join the meetup</a>
                                        </td>
                                    </tr>
                                </table>
                                <!-- Button : END -->
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!-- Meetup : END -->

            <!-- Separation between sections -->
            <tr><td style="font-size: 8px;">&nbsp;</td></tr>

            <!-- Goodbye Text : BEGIN -->
            <tr>
                <td style="background-color: #ffffff; padding: 20px;">
                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                        <tr>
                            <td style="padding: 20px; font-family: 'Montserrat', sans-serif; font-size: 15px; line-height: 20px; color: #555555;">
                                <h1 style="margin: 0 0 30px; font-size: 25px; line-height: 30px; color: #333333; font-weight: bold;">See you soon!</h1>

                                <p>We have already started to plan the next Think About! for 2020 :) We hope to see a lot of you there again. Until then feel free to come to one of our <a href="https://www.meetup.com/de-DE/Think-About-about-Tech-Design-and-their-impact-on-Society/" style="color: #eb18ff; text-decoration: underline;">Meetups</a> or just follow us on <a href="https://twitter.com/thinkaboutconf" style="color: #eb18ff; text-decoration: underline;">Twitter</a>.</p> 

                                <p>Chrissi, Jakob and Rudi the dog</p>
                            </td>
                        </tr>
                        <tr>
                            <!-- Column : BEGIN -->
                            <td class="stack-column-center" valign="top" style="padding: 0; padding-bottom: 40px; vertical-align: top; text-align: center">
                              <a href="https://think-about.io/about-us.html">
                                <img style="margin: 10px" width="100" src="/newsletter/2019/11/chrissi.png"/>
                              </a>
                              <a href="https://think-about.io/about-us.html">
                                <img style="margin: 10px" width="100" src="/newsletter/2019/11/jakob.png"/>
                              </a>
                              <a href="https://think-about.io/about-us.html">
                                <img style="margin: 10px" width="100" src="/newsletter/2019/11/rudi.png"/>
                              </a>
                            </td>
                            <!-- Column : END -->
                        </tr>
                    </table>

            <!-- Footer Image : BEGIN -->
  
            <!-- Footer Image : END -->

                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                        <tr>
                            <!-- Column : BEGIN -->
                            <td class="stack-column-center" valign="top" style="padding: 40px 0; vertical-align: top; text-align: center">
                                <a href="https://twitter.com/thinkaboutconf">
                                    <img src="/newsletter/2019/11/twitter.png"/>
                                </a>
                                <a href="https://github.com/hrx-events/think-about">
                                    <img src="/newsletter/2019/11/github.png"/>
                                </a>
                                <a href="https://www.meetup.com/de-DE/Think-About-about-Tech-Design-and-their-impact-on-Society/">
                                    <img src="/newsletter/2019/11/meetup.png"/>
                                </a>
                                <a href="https://www.xing.com/events/think-about-konferenz-tech-design-society-2028212">
                                    <img src="/newsletter/2019/11/xing.png"/>
                                </a>
                                <a href="mailto:kontakt@think-about.io">
                                    <img src="/newsletter/2019/11/mail.png"/>
                                </a>
                            </td>
                            <!-- Column : END -->
                        </tr>
                    </table>


                </td>
            </tr>
            <!-- Goodbye Text : END -->
